{% extends "base.html" %}

{% block content %}
  <h1>Restaurant Kitchen Service</h1>
    <p>Welcome to our restaurant-management service!</p>
    <h2>Dynamic content</h2>
    <p>The Restaurant service has the following record counts:</p>
    <ul>
        <li><strong>Cooks:</strong> {{ num_cooks }}</li>
        <li><strong>Dishes:</strong> {{ num_dishes }}</li>
        <li><strong>Dish types:</strong> {{ num_dish_types }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
{% endblock %}
